@page
@model AssemblyCookieRecipe.WebApp.Pages.Ingredients.UpdateModel
@{
}

<form method="post">
    <div class="mb-3">
        <input type="text" name="id" value="@Model.Ingredient.Id" hidden>
    </div>
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" value="@Model.Ingredient.Id" disabled>
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="name" value="@Model.Ingredient.Name">
    </div>
    <button type="submit" class="btn btn-success">Update</button>
</form>